@font-face {
    font-family: "Cubex";
    src: url("../cubex/Cubex.woff") format("woff"),
    url("../cubex/Cubex.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #F2AD94;
}

#background {
    height: 100%;
    width: 100%;
    background-image: url("../assets/noisy-background.jpg");
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    opacity: 15%;
    overflow: hidden;
    z-index: -2;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 55px;
    text-decoration: none;
    font-weight: 600;
    background-color: #A17362;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(242,173,148,0.8); /* color: #F2AD94; */
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #F2AD94;
    animation: showRight 1s ease forwards;
    animation-delay: .3s;
} 

.navbar a {
    display: inline-block; 
    font-size: 20px;
    color: #fbf9fa;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: calc(.2s * var(--i));  
}

.navbar a:hover,
.navbar a.active,
.active {
    color: #331C14;
}

.navbar a:nth-child(1) {
    --i: 1;
}

.navbar a:nth-child(2) {
    --i: 2;
}

.navbar a:nth-child(3) {
    --i: 3;
}

.navbar a:nth-child(4) {
    --i: 4;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.home-content {
    background-color: #00000010;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    max-width: 600px;
    padding: 30px;
    margin-top: 60px;
    border-radius: 48px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: #fbf9fa;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #E3A28A;
    animation: showRight 1s ease forwards;
    animation-delay: 0.8s;
}

.home-content h3 {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    color: #331C14;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #E3A28A;
    animation: showRight 1s ease forwards;
    animation-delay: 1.1s;
}

.home-content p {
    position: relative;
    color: #66473C;
    font-size: 18px;
    margin: 15px 0 25px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #E3A28A;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #E3A28A;
    z-index: 2;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #331C14;
    border: 2px solid #331C14;
    border-radius: 25px;
    font-size: 20px;
    color: #fbf9fa;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .4s;
}

.btn-box a:hover {
    color: #331C14;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #331C14;
}

.btn-box a:nth-child(2):hover {
    color: #fbf9fa;
}

.btn-box a:nth-child(2)::before {
    background: #331C14;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #E3A28A;
    z-index: -1;
    transition: .4s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-link-box {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    width: 190px;
}

.home-link-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    /* border: 1px solid #331C14; */
    border-radius: 50%;
    font-size: 25px;
    color: #331C14;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;  
    animation-delay: calc(.2s * var(--i));
}

.home-link-box a:nth-child(1) {
    --i: 7;
}

.home-link-box a:nth-child(2) {
    --i: 8;
}
 
.home-link-box a:nth-child(3) {
    --i: 9;
}

.home-link-box a:nth-child(4) {
    --i: 10; 
}

.home-link-box a:hover {
    color: #F2AD94;
}

.home-link-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #331C14;
    z-index: -1;
    transition: .4s;
    
}

.home-link-box a:hover::before {
    width: 100%;
}

.home-image img {
    position: relative;
    top: 15px;
    left: 30px;
    max-width: 900px;
    max-height: 900px;
    /* padding-top: 60px; */
    height: 100%;
    width: 100%;
    opacity: 0; 
    animation: zoomIn 1s ease forwards;  
    animation-delay: 1.8s;
}

@keyframes showRight {
    100% {
        width: 0;
    } 
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    } 
}